/*----------funcionamento do modal----------*/

.all-content {
    overflow: visible;
}

.container-modal {
    background-color: rgba(5, 2, 15, 0.941);
    height: 120vh;
    width: 100%;
    position: absolute;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    bottom: -162rem;
}


/*-------buttom close cards-------*/


.close-modal {
    position: absolute;
    z-index: 999;
    width: 7rem;
    height: 7rem;
    bottom: 46rem;
    left: 30rem;
    border-radius: 50%;
    border: none;
    background-color: var(--pinkColor-title);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-modal:hover {
    filter: drop-shadow(0rem 0rem 1rem var(--pinkColor-title));
}

.stick-one {
    width: 5rem;
    height: 1rem;
    background-color: var(--white-color);
    border-radius: .5rem;
    transform: rotate(45deg);
}

.stick-two {
    width: 5rem;
    height: 1rem;
    background-color: var(--white-color);
    border-radius: .5rem;
    transform: rotate(-45deg);
    position: absolute;
}


/*---------html-card----------*/
.modal-html {
    width: 35rem;
    height: 51rem;
    background-color: #10101C;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 2rem #10101C;
    padding: 2rem;
    animation: emerge .5s ease-in-out;
    display: none;
}

.modal-html img {
    width: 15rem;
    margin: 2rem;
}

.modal-html img:hover {
    filter: drop-shadow(0rem 0rem 1rem #ff4400);
    transition: .3s ease-out;
}

.modal-html .container-structs {
    width: 30rem;
    height: 27rem;
    overflow: hidden;
}

.container-structs .instructions {
    font-family: 'Ruda', sans-serif;
    color: var(--white-color);
    text-align: justify;
    font-size: 2.1rem;
}

/*----------My profile card----------*/

.modal-card {
    position: absolute;
    z-index: 999;
    width: 56rem;
    height: 46rem;
    display: flex;
    background-color: #10101C;
    border-radius: 2rem;
    box-shadow: .5rem .5rem 2rem black;
    flex-direction: column;
    display: none;
    animation: emerge .5s ease-in-out;
    align-items: space-around;
    justify-content: space-around;
    animation: emerge .5s ease-in-out;
}

.personal-info {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0rem;
}

.photo {

    width: 23.5rem;
    height: 23.5rem;
    border-radius: 1rem;
    border: 2px solid var(--white-color);
    overflow: hidden;
}

.photo img {
    height: 100%;
    width: 100%;
}

.about {
    width: 25rem;
    font-size: 1.4rem;
    font-family: 'Ruda', sans-serif;
    color: var(--white-color);
    text-align: justify;
}

.info {
    display: flex;
    font-family: 'Ruda', sans-serif;
    justify-content: space-between;
    align-items: center;
}

.for-me {
    margin: 0rem 1.5rem;
}

.years {
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 700;
}

.education {
    color: var(--white-color);
    font-size: 2rem;
    margin: 1rem 0rem
}

.education strong {
    color: #1a90ff;
}

.contact-me img {
    width: 3rem;
}

.contact-me img:hover {
    filter: drop-shadow(0rem 0rem .5rem var(--white-color));
    transition: .3s ease-in-out;
}

.contact-me {
    display: flex;
    justify-content: space-between;
}

.talk-me {
    background: linear-gradient(-45deg, #00ae1a, #64ff53, #00ae1a);
    border: none;
    width: 25rem;
    height: 8rem;
    border-radius: 50px;
    margin: 1.5rem;
    font-size: 4rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 800;
    display: flex;
}

.talk-me a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25rem;
    height: 8rem;
}

.talk-me:hover {
    box-shadow: 0rem 0rem .5rem var(--GrennColor-Two);
    transition: 0.3s ease-in-out;
    background: linear-gradient(-45deg, #64ff53, #00ae1a, #64ff53)
}

.close-profile {
    position: absolute;
    bottom: 40rem;
    left: -3rem;
    border-radius: 50%;
}

/*---------css card----------*/

.modal-css {
    width: 35rem;
    height: 51rem;
    background-color: #10101C;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 2rem #10101C;
    padding: 2rem;
    animation: emerge .5s ease-in-out;
    display: none;
}

.modal-css img {
    width: 15rem;
    margin: 2rem;
}

.modal-css img:hover {
    filter: drop-shadow(0rem 0rem 1rem #00b3ff);
    transition: .3s ease-out;
}

.modal-css .container-structs {
    width: 30rem;
    height: 27rem;
    overflow: hidden;
}

.container-structs .instructions {
    font-family: 'Ruda', sans-serif;
    color: var(--white-color);
    text-align: justify;
    font-size: 2.1rem;
}

/*----------JS card----------*/

.modal-js {
    width: 35rem;
    height: 51rem;
    background-color: #10101C;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 2rem #10101C;
    padding: 2rem;
    animation: emerge .5s ease-in-out;
    display: none;
}

.modal-js img {
    width: 15rem;
    margin: 2rem;
}

.modal-js img:hover {
    filter: drop-shadow(0rem 0rem 1rem #ffea00);
    transition: .3s ease-out;
}

.modal-js .container-structs {
    width: 30rem;
    height: 27rem;
    overflow: hidden;
}

.container-structs .instructions {
    font-family: 'Ruda', sans-serif;
    color: var(--white-color);
    text-align: justify;
    font-size: 2.1rem;
}

/*---------Git card---------*/
.modal-git {
    width: 35rem;
    height: 51rem;
    background-color: #10101C;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 2rem #10101C;
    padding: 2rem;
    animation: emerge .5s ease-in-out;
    display: none;
}

.modal-git img {
    width: 15rem;
    margin: 2rem;
}

.modal-git img:hover {
    filter: drop-shadow(0rem 0rem 1rem #ff0000);
    transition: .3s ease-out;
}

.modal-git .container-structs {
    width: 30rem;
    height: 27rem;
    overflow: hidden;
}

.container-structs .instructions {
    font-family: 'Ruda', sans-serif;
    color: var(--white-color);
    text-align: justify;
    font-size: 2.1rem;
}

/*------------Disings card------------*/

.modal-design {
    width: 35rem;
    height: 51rem;
    background-color: #10101C;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 2rem #10101C;
    padding: 2rem;
    animation: emerge .5s ease-in-out;
    display: none;
}

.modal-design img {
    width: 15rem;
    margin: 2rem;
}

.modal-design img:hover {
    filter: drop-shadow(0rem 0rem 1rem #00ffcc);
    transition: .3s ease-out;
}

.modal-design .container-structs {
    width: 30rem;
    height: 27rem;
    overflow: hidden;
}

.container-structs .instructions {
    font-family: 'Ruda', sans-serif;
    color: var(--white-color);
    text-align: justify;
    font-size: 2.1rem;
}