@keyframes animStar {
    from {
        transform: translateY(px);
    }

    to {
        transform: translateY(-2000px);
    }
}

@keyframes infiniteScroll {
    to {
        translate: calc(-50% - 5px);
    }
}

@keyframes downarrow{
    0% {-webkit-transform: translatex(0);}
    100%{-webkit-transform: translatex(0.4em)}
}