@keyframes animStar {
    from {
        transform: translateY(px);
    }

    to {
        transform: translateY(-2000px);
    }
}

@keyframes infiniteScroll {
    to {
        translate: calc(-50% - 5px);
    }
}

@keyframes downarrow{
    0% {-webkit-transform: translatex(0);}
    100%{-webkit-transform: translatex(0.8em)}
}

@keyframes emerge{
    0%{-webkit-transform: scale(0%)}
    100%{-webkit-transform: scale(100%)}
}

@keyframes pulse{
    0% {-webkit-transform: opacity(0%)}
    100%{-webkit-transform: opacity(100%)}
}