/* -----------scren one-----------*/

@media(min-width: 40rem) and  (max-width: 80rem){

    .header {
        height: 15vh;
        background-color: var(--BlackColor-gradientes);
    }

    .navigation {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .background-hamburguer-active {
        transition: 0.5s ease-out;
        background-color: transparent;
    }

    .union-title {
        margin: 0rem 16rem 0rem 0rem;
    }

    .union-title h1 {
        font-size: 8rem;
    }

    .union-title img {
        width: 9rem;
        height: 6.5rem;
        margin: 0rem 0rem .5rem .5rem;
    }

    .title-container {
        margin: 0rem 0rem 0rem 12rem;
    }

    .title-two {
        font-size: 8rem;
    }

    .contact {
        width: 53rem;
        height: 10rem;
    }

    .contact h1 {
        font-size: 5rem;
    }

    .contact img {
        width: 13rem;
    }
}

/*----------Scren two----------*/

@media(min-width: 40rem) and  (max-width: 80rem){
    .screen-two {
        width: 100%;
        height: 100%;
    }

    .top-elements {
        display: flex;
        flex-direction: row;
        padding: 3rem;
    }

    .title-projects {
        font-size: 3.5rem;
        margin: 0rem;
    }

    .slider-bar {
        margin: 0;
        width: 34rem;
    }


    .continer-projects {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 0rem 0rem 3rem 0rem;
    }

    .screen {
        align-items: space-between;
        width: 35rem;
    }
}

/*--------screen three-------*/

@media(min-width: 40rem) and  (max-width: 80rem){
    .screen-three{
        height: 100%;
    }

    .title-last{
        font-size: 2rem;
        margin: 0rem 1rem 3rem 1rem;
        padding: 3rem 0rem 0rem 0rem;
    }
    
    .magic-cards{
        flex-wrap: wrap;
        margin: 0rem;
        justify-content: space-around;
        padding: 2rem 10rem;
    }
    
    .magic-card{
        width: 14rem;
        margin: 1rem;
    }
}

/*---------cards features-------*/

@media(min-width: 40rem) and  (max-width: 80rem){

    .magic-cards .container-modal {
        height: 100vh;
        position: absolute;
        bottom: -123rem;
    }


    .magic-cards .modal-html {
        width: 35rem;
        bottom: -85rem;
    }

    .modal-html .close-modal {
        bottom: 38rem;
        left: 16rem;
    }

    .modal-card .close-profile {
        bottom: 38rem;
        left: -2rem;
        width: 6rem;
        height: 6rem;
    }

    .magic-cards .modal-css {
        width: 35rem;
        bottom: -85rem;
    }

    .modal-css .close-modal {
        bottom: 38rem;
        left: 16rem;
    }

    .magic-cards .modal-js {
        width: 35rem;
        bottom: -85rem;
    }

    .modal-js .close-modal {
        bottom: 38rem;
        left: 16rem;
    }

    .magic-cards .modal-git {
        width: 35rem;
        bottom: -85rem;
    }

    .modal-git .close-modal {
        bottom: 38rem;
        left: 16rem;
    }

    .magic-cards .modal-design {
        width: 35rem;
        bottom: -85rem;
    }

    .modal-design .close-modal {
        bottom: 38rem;
        left: 16rem;
    }
}