/*----------Scren One-----------*/

@media(max-width:400px) {

    .start-portifolio{
        background: linear-gradient(#050007, transparent, #050007), url('../image/backgorund-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: calc(100vh - 110px)
    }

    .navbar{
        background-color: transparent;
        justify-content: flex-end;
    }

    .social-icons{
        display: none;
    }

    .parts-grup{
        display: none;
    }

    .container-hamburger{
        display: block
    }

    .icon-title{
        margin: 10px 0px 0px 0px;
        align-items: center;
    }
    .title{
        font-size: 45px;
    }

    .icon-title img{
        width: 65px;
        padding: 0px 0px 5px;
    }

    .start-portifolio{
        justify-content: center;
        align-items: center;
    }

    .title-secondary{
        font-size: 45px;
        margin: 0px 0px 50px 0px;
    }

    .button{
        width: 320px;
    }

    .talk{
        font-size: 35px;
    }

    .button img{
        width: 80px;
    }
}

/*--------Mid portifolio---------*/


@media(max-width:400px){
    .mid-portifolio {
        height: auto;
    }

    .top-elements {
        flex-direction: column;
        justify-content: center;
    }

    .title-projects {
        font-size: 35px;
        margin: 15px;
    }

    .slider img {
        width: 30px;
    }

    .cards-bar {
        width: 290px;
        height: 55px;
        margin: 15px;
        mask: none;
    }

    .screns {
        justify-content: center;
        margin: 30px
    }

    .scren img {
        width: 300px;
    }

    .features img {
        width: 50px;
        cursor: pointer;
    }

    .features img{
        width: 30px;
    }
}

@media(max-width: 400px){
    .portifolio-last{
        background: linear-gradient(#050007, transparent, #050007), url('../image/backgorund-mobile.png');
        background-color: #050007;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .title-footer{
        font-size: 20px;
        padding: 10px 0px 0px 0px;
        margin: 0px 10px;
    }

    .magic-cards{
        margin: 20px 30px 30px 30px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .magic-cards img{
        width: 130px;
        margin: 10px;
    }

    .footer{
        padding: 20px;
        justify-content: space-around;
    }

    .footer img{
        width: 50px;
    }

    .return {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    .return img{
        width: 30px;
        height: auto;
    }

    .copyhight{
        font-size: 20px;
    }
}
