/*-----------scren one-----------*/

@media(max-width: 620px) {

    .header {
        background-color: transparent;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        width: 60vw;
        height: 55vh;
        margin: 1.5rem;
        border-radius: 15px;
        clip-path: circle(10rem at 10% -10%);
        transition: 0.5s ease-in-out;
        background-color: transparent;
    }

    .active-nav {
        clip-path: circle(150rem at 90% -30%);
        pointer-events: all;
        background-color: var(--Backgorund-navbar);
    }

    .hamburguer {
        display: block;
        display: flex;
        margin: 1.5rem;
    }

    .background-hamburguer-active {
        transition: 0.5s ease-out;
        background-color: transparent;
    }

    .social-links {
        margin: 1.5rem .7rem;
        opacity: 0;
    }

    .redes img {
        margin: 1rem;
    }

    .sections {
        flex-direction: column;
        margin: 1.8rem;
        align-items: flex-start;
        opacity: 0;
    }

    .union-title {
        margin: 0;
    }

    .union-title h1 {
        font-size: 4.5rem;
    }

    .union-title img {
        width: 5rem;
        height: 3.5rem;
        margin: 0rem 0rem .5rem .5rem;
    }

    .title-container {
        margin: 0;
    }

    .title-two {
        font-size: 4.2rem;
    }

    .contact {
        width: 33rem;
        height: 7rem;
    }
    .contact a{
        width: 300px;
    }

    .contact h1 {
        font-size: 3.5rem;
    }

    .contact img {
        width: 10rem
    }
}

/*----------Scren two----------*/

@media(max-width: 620px) {
    .screen-two {
        width: 100%;
        height: 100%;
    }

    .top-elements {
        display: flex;
        flex-direction: column;
        padding: 3rem 0rem 0rem 0rem;
    }

    .title-projects {
        font-size: 3.5rem;
        margin: 0rem 0rem 3rem 0rem;
    }

    .slider-bar {
        margin: 0;
        width: 34rem;
        mask: none;
    }


    .continer-projects {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .screen {
        align-items: space-between;
        width: 35rem;
    }

    .two {
        margin: 0rem 0rem 3rem 0rem;
    }
}

/*--------screen three--------*/

@media(max-width: 620px) {

    .screen-three {
        height: 100%;
    }

    .title-last {
        font-size: 20px;
        margin: 0px 1rem 3rem 1rem;
        padding: 3rem 0rem 0rem 0rem;
    }

    .magic-cards {
        flex-wrap: wrap;
        margin: 0rem;
        justify-content: space-around;
        padding: 2rem;
    }

    .magic-card {
        width: 14rem;
        margin: 1rem;
    }
}

/*----------Scren footer----------*/


@media(max-width: 620px) {
    .footer {
        height: 10vh;
    }

    .copyhight {
        font-size: 2rem;
    }

    .return {
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
    }

    .footer-itens img {
        width: 6rem;
    }

    .return img {
        width: 2rem;
        height: 1.5rem;
        padding: 0rem;
    }
}

/*---------cards features-------*/

@media(max-width: 620px) {
    @media(max-width: 40rem) {

        .magic-cards .container-modal {
            height: 122vh;
            position: absolute;
            bottom: -182rem;
        }
    
        .magic-cards .modal-html {
            width: 35rem;
        }
    
        .modal-html .close-modal {
            bottom: 38rem;
            left: 16rem;
        }
    
        .container-modal .modal-card {
            width: 35rem;
            height: 69rem;
            align-items: center;
            left: 3rem;
            bottom: 1rem;
        }
    
        .modal-card .personal-info {
            align-items: center;
            flex-direction: column;
            margin: 1rem 1rem 0rem 1rem;
        }
    
        .modal-card .photo {
            margin: 0rem 1rem 0rem 1rem;
        }
    
        .modal-card .about {
            width: 29rem;
            margin: 1rem 1rem 0rem 1rem;
            font-size: 1.6rem;
        }
    
        .info {
            flex-direction: column
        }
    
        .info .for-me h1 {
            display: none;
        }
    
        .info .for-me p {
            display: none;
        }
    
        .info .contact-me img {
            margin: 1rem;
            width: 4rem;
        }
    
        .info .talk-me{
            height: 6rem;
        }
    
        .info .talk-me a{
            height: 6rem;
        }
    
        .modal-card .close-profile {
            bottom: 64rem;
            left: -2rem;
            width: 6rem;
            height: 6rem;
        }
    
        .magic-cards .modal-css {
            width: 35rem;
        }
    
        .modal-css .close-modal {
            bottom: 38rem;
            left: 16rem;
        }
    
        .magic-cards .modal-js {
            width: 35rem;
        }
    
        .modal-js .close-modal {
            bottom: 38rem;
            left: 16rem;
        }
    
        .magic-cards .modal-git {
            width: 35rem;
        }
    
        .modal-git .close-modal {
            bottom: 38rem;
            left: 16rem;
        }
    
        .magic-cards .modal-design {
            width: 35rem;
        }
    
        .modal-design .close-modal {
            bottom: 38rem;
            left: 16rem;
        }
    }
}