/*---------------------------------------------------scren one---------------------------------------------------*/

@media(max-width: 720px) {

    .header {
        background-color: transparent;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        width: 60vw;
        height: 55vh;
        margin: 1.5rem;
        border-radius: 15px;
        clip-path: circle(10rem at 10% -10%);
        transition: 0.5s ease-in-out;
        background-color: transparent;
    }

    .active-nav {
        clip-path: circle(150rem at 90% -30%);
        pointer-events: all;
        background-color: var(--Backgorund-navbar);
    }

    .hamburguer {
        display: block;
        display: flex;
        margin: 1.5rem;
    }

    .background-hamburguer-active {
        transition: 0.5s ease-out;
        background-color: transparent;
    }

    .social-links {
        margin: 1.5rem .7rem;
        opacity: 0;
    }

    .redes img {
        margin: 1rem;
    }

    .sections {
        flex-direction: column;
        margin: 1.8rem;
        align-items: flex-start;
        opacity: 0;
    }

    .screen-one {
        background: linear-gradient(#050007, transparent, #050007), url('../image/background-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .union-title {
        margin: 0;
    }

    .union-title h1 {
        font-size: 4.5rem;
    }

    .union-title img {
        width: 5rem;
        height: 3.5rem;
        margin: 0rem 0rem .5rem .5rem;
    }

    .title-container {
        margin: 0;
    }

    .title-two {
        font-size: 4.2rem;
    }

    .contact {
        width: 33rem;
        height: 7rem;
    }

    .contact a {
        width: 300px;
    }

    .contact h1 {
        font-size: 3.5rem;
    }

    .contact img {
        width: 10rem
    }
}

/*----------------------------------------------------Scren two---------------------------------------------------*/

@media(max-width: 720px) {
    .screen-two {
        width: 100%;
        height: 100%;
        /* align-items: center; */
    }

    .top-elements {
        display: flex;
        flex-direction: column;
        padding: 3rem 0rem 0rem 0rem;
    }

    .title-projects {
        font-size: 3.5rem;
        margin: 0rem 0rem 3rem 0rem;
    }

    .slider-bar {
        margin: 0;
        width: 34rem;
        mask: none;
    }


    .container-projects {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .screen {
        align-items: space-between;
        width: 35rem;
    }

    .one{
        margin: 3rem 0rem 3rem 0rem
    }

    .two {
        margin: 0rem 0rem 3rem 0rem;
    }
}

/*------------------------------------------------------screen three--------------------------------------------*/

@media(max-width: 720px) {

    .screen-three {
        height: 100%;
    }

    .title-last {
        font-size: 20px;
        margin: 0px 1rem 3rem 1rem;
        padding: 3rem 0rem 0rem 0rem;
    }

    .magic-cards {
        flex-wrap: wrap;
        margin: 0rem;
        justify-content: space-around;
        padding: 2rem;
    }

    .magic-card {
        width: 14rem;
        margin: 1rem;
    }
}

/*-------------------------------------------Scren footer------------------------------------------------------*/


@media(max-width: 720px) {
    .footer {
        height: 10vh;
    }

    .copyhight {
        font-size: 2rem;
    }

    .return {
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
    }

    .footer-itens img {
        width: 6rem;
    }

    .return img {
        width: 2rem;
        height: 1.5rem;
        padding: 0rem;
    }
}

/*------------------------------------------sampling projects-------------------------------------------------*/

@media(max-width: 720px) {
    .screen-two .container-modal-projects {
        background-color: rgba(5, 2, 15, 0.941);
        height: 120vh;
        width: 100%;
        position: absolute;
        z-index: 998;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        bottom: -80rem;
    }

    /* --------------------------------projeto 1 -------------------------------------*/

    .screen-two .project-sampling-one{
        top: 20rem
    }

    .screen-two .project-sampling-one h2 {
        font-size: 2rem;
        margin: 0rem 2rem 5rem 2rem
    }

    .project-sampling-one .screen-project-one {
        width: 28rem;
        margin: 5rem;
        animation: float 2s infinite ease-in-out;
        filter: drop-shadow(0rem 0rem 5rem #ea00ff34);
    }

    .choice .page{
        width: 14rem;
    }

    .choice .page a{
        width: 14rem;
    }

    .choice .repo{
        width: 14rem;
    }
    .choice .repo a{
        width: 14rem;
    }

    .choice .repo h3{
        font-size: 1.8rem;
    }

    .project-sampling-one .close-project{
        left: 32rem;
        bottom: 27rem;
        width: 4rem;
        height: 4rem;
    }

    .project-sampling-one .close-project img{
        width: 3rem;
    }

    /*---------------------------------Projeto 2-----------------------------------*/

    .screen-two .container-modal-projects {
        background-color: rgba(5, 2, 15, 0.941);
        height: 200vh;
        width: 100%;
        position: absolute;
        z-index: 998;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        bottom: -125rem;
    }


    .screen-two .project-sampling-two{
        top: 50rem
    }

    .screen-two .project-sampling-two h2 {
        font-size: 2rem;
        margin: 0rem 2rem 5rem 2rem
    }

    .project-sampling-two .screen-project-two {
        width: 28rem;
        margin: 5rem;
        animation: float 2s infinite ease-in-out;
        filter: drop-shadow(0rem 0rem 5rem #ea00ff34);
    }

    .choice .page{
        width: 14rem;
    }

    .choice .page a{
        width: 14rem;
    }

    .choice .repo{
        width: 14rem;
    }
    .choice .repo a{
        width: 14rem;
    }

    .choice .repo h3{
        font-size: 1.8rem;
    }

    .project-sampling-two .close-project{
        left: 32rem;
        bottom: 27rem;
        width: 4rem;
        height: 4rem;
    }

    .project-sampling-two .close-project img{
        width: 3rem;
    }
}

/*-----------------------------------------cards features------------------------------------------------------*/

@media(max-width: 720px) {

    /*------container general------*/

    .magic-cards .container-modal {
        height: 150vh;
        position: absolute;
        bottom: -202rem;
    }

    /*------close modal cards---------*/

    .magic-cards .close-modal {
        left: 25rem;
        width: 6rem;
        height: 6rem;
    }

    /*------modal do html------*/

    .magic-cards .modal-html {
        width: 30rem;
    }

    .magic-cards .modal-html .container-structs {
        width: 25rem;
        height: 24rem;
    }

    .magic-cards .container-structs .instructions {
        font-size: 1.8rem;
    }

    /*-----modal de perfil-------*/

    .magic-cards .modal-card {
        width: 30rem;
        height: 55em;
        align-items: center;
        justify-content: center;
    }

    .modal-card .personal-info {
        align-items: center;
        flex-direction: column;
        margin: 1rem 1rem 0rem 1rem;
    }

    .modal-card .photo {
        width: 15rem;
        height: 15rem;
        margin: 0rem 1rem 0rem 1rem;
    }

    .modal-card .about {
        width: 27rem;
        margin: 2rem 0rem 0rem 0rem;
        font-size: 1.4rem;
    }

    .info {
        flex-direction: column
    }

    .info .for-me h1 {
        display: none;
    }

    .info .for-me p {
        display: none;
    }

    .info .contact-me img {
        margin: 1rem;
        width: 4rem;
    }

    .info .talk-me {
        height: 6rem;
        margin: .5rem;
    }

    .info .talk-me a {
        height: 6rem;
    }

    .modal-card .close-profile {
        bottom: 51rem;
        left: -2rem;
        width: 6rem;
        height: 6rem;
    }

    /*---------modal css-----------*/

    .magic-cards .modal-css {
        width: 30rem;
    }

    .magic-cards .modal-css .container-structs {
        width: 25rem;
        height: 24rem;
    }

    /*--------modal js---------*/

    .magic-cards .modal-js {
        width: 30rem;
    }

    .magic-cards .modal-js .container-structs {
        width: 25rem;
        height: 24rem;
    }

    /*---------modal git-----------*/

    .magic-cards .modal-git {
        width: 30rem;
    }

    .magic-cards .modal-git .container-structs {
        width: 25rem;
        height: 24rem;
    }

    /*-------modal desigen-------*/

    .magic-cards .modal-design {
        width: 30rem;
    }

    .magic-cards .modal-design .container-structs {
        width: 25rem;
        height: 24rem;
    }
}