

.header {
    background-color: var(--BlackColor-gradientes);
    height: 12vh;
    width: 100vw;
    position: fixed;
}

.navigation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburguer {
    background-color: var(--pinkColor-button);
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    display: none;
    transform-origin: center;
}



.stick {
    height: .3rem;
    width: 3rem;
    background-color: var(--white-color);
    margin: .3rem;
    border-radius: .2rem;
}

.social-links {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.redes img {
    width: 5rem;
    margin: 1.5rem;
}

.redes img:hover {
    filter: drop-shadow(0rem 0rem 2rem var(--pinkColor-title)) ;
    transition: 0.3s ease-in-out
}

.sections {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 2rem 4.5rem 1.5rem 1.5rem;
}

.sections li {
    color: aliceblue;
    font-family: 'Ruda', sans-serif;
    font-size: 2.4rem;
}

.sections a:hover {
    text-shadow: 1rem 1rem 1rem var(--pinkColor-title);
    transition: 0.3s ease-in-out
}

.screen-one {
    background: linear-gradient(#050007, transparent, #050007), url('../image/backgorund-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(110vh - 12vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.union-title {
    display: flex;
    align-items: center;
    margin: 15rem 50rem 0rem 0rem;
}

.union-title img {
    width: 15rem;
    height: 10rem;
    margin: 0rem 0rem 1rem 1rem;
}

.union-title h1 {
    font-size: 12rem;
    font-family: 'Rubik mono one', sans-serif;
    background: linear-gradient(45deg, #ffffff, #A700A1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-two {
    font-size: 12rem;
    font-family: 'Rubik mono one', sans-serif;
    color: var(--white-color);
}

.title-container{
    margin: 0rem 0rem 0rem 40rem;
}


.active-arrow{
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

.button-elements{
    pointer-events: none;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55rem;
    height: 9rem;
    border-radius: 5rem;
    border: none;
    background: linear-gradient(-45deg, #00ae1a, #64ff53, #00ae1a);
    margin-top: 8rem;
    cursor: pointer;
    
}

.contact:hover{
    box-shadow: 0rem 0rem .5rem var(--GrennColor-Two);
    transition: 0.3s ease-in-out;
    background: linear-gradient(-45deg, #64ff53, #00ae1a, #64ff53);
    margin-top: 8rem;
}


.contact h1 {
    font-size: 5.5rem;
    color: var(--white-color);
    font-family: 'Ruda', sans-serif;
}

.contact img{
    width: 14rem;
}

.contact a{
    position: absolute;
    width: 55rem;
    height: 9rem;
}



