.screen-three{
    height: 100vh;
    background:  linear-gradient(#050007, transparent, #050007), url('../image/backgorund-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
}

.title-last {
    background: linear-gradient(95deg, #ffffff, #A700A1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Rubik mono one', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin: 0rem 10rem 10rem 10rem;
    padding: 10rem 0rem 0rem 0rem;
}

.magic-cards{
    margin: 10rem 16rem 20rem 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magic-card{
    width: 18rem;
    height: auto;
    cursor: pointer;
    border: none;
    margin: 0rem 1rem;
}

.magic-card:hover{
    transform: scale(1.1);
    transition: .3s ease-in-out;
    filter: drop-shadow(0rem 0rem 1rem var(--pinkColor-button));
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #050007;
}

.footer-itens{
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #050007;
    margin: 0rem 2rem 0rem 2rem;
}

.footer img{
    width: 9rem;
    cursor: pointer;
}

.copyhight{
    color: #fff;
    font-family: 'satoshi', sans-serif;
    font-size: 3rem;
}

.return{
    border-radius: 2rem;
    width: 6rem;
    height: 6rem;
    border: none;
    cursor: pointer;
}

.return:hover{
    filter: drop-shadow(0rem 0rem 1.5rem #ffffff7e);
    transition: 0.3s ease-in-out;
}

.return img{
    width: 4rem;
    height: 3rem;
    padding: .5rem;
}