:root{
    --pinkColor-title: #A700A1;
    --pinkColor-button: #a700a16e;
    --BlackColor-gradientes: #050007;
    --Backgorund-navbar: #0e0017fc;
    --GrennColor-One: #00ae1a;
    --GrennColor-Two: #64ff53;
    --white-color: #ffffff
}